@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --red: #ff0000;
  --darkRed: #cc0000;
  --blue: #3b4cca;
  --yellow: #ffde00;
  --gold: #b3a125;
}

@layer utilities {
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

@layer base {
  nav {
    @apply bg-[var(--red)] pb-3 pt-5 flex justify-center items-center gap-x-5 shadow-xl border-b-black border-b-4;
  }
}

/*======================================== pokeball ======================================== */
.pokeball {
  @apply shadow-2xl h-[50px] w-[50px] rounded-full flex flex-col relative border-2 border-black;
}

.pokeball__top {
  @apply bg-[var(--red)] w-full h-1/2 rounded-t-full;
}

.pokeball__bottom {
  @apply bg-white w-full h-1/2 rounded-b-full shadow-inner;
}

.pokeball__line {
  @apply absolute w-full border-2 border-black;
}

.pokeball__btn {
  @apply h-5 w-5 rounded-full shadow-inner border-4 border-black bg-white;
}

/*======================================== card grid ======================================== */
.card-grid {
  @apply flex flex-wrap gap-x-4 gap-y-8 items-center justify-center mt-[25px];
}

/*======================================== comment ======================================== */
/* implementation of the card flipping when shuffling */
.card {
  perspective: 1000px;
  @apply bg-transparent h-[175px] w-[175px];
}

.card__inner--flip {
  transform: rotateY(180deg);
}

/* .card:hover .card__inner {
  transform: rotateY(180deg);
} */

.card__inner {
  @apply relative w-full h-full cursor-pointer transition-transform duration-300;
}

.card__front__name {
  @apply font-medium capitalize font-["Poppins"];
}

.card__front__image {
  @apply bg-white rounded-sm;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  @apply absolute h-full w-full flex flex-col grow justify-center items-center h-full w-full rounded-lg 
  border-[5px] shadow-xl gap-y-2 p-8;
}

.card__front {
}

.card__back {
  transform: rotateY(180deg);
  @apply bg-[var(--blue)] text-white border-blue-900;
}
