@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --red: #ff0000;
  --darkRed: #cc0000;
  --blue: #3b4cca;
  --yellow: #ffde00;
  --gold: #b3a125;
}

@layer utilities {
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

@layer base {
  * {
    scroll-behavior: smooth;
  }

  nav {
    @apply bg-[var(--red)] pb-3 pt-5 flex justify-center items-center gap-x-5 shadow-xl border-b-black border-b-4 px-4;
  }

  main {
    background: radial-gradient(
      at right top,
      rgb(255, 228, 230),
      rgb(204, 251, 241)
    );
    min-height: 100vh;
  }

  button {
    @apply flex justify-center items-center gap-x-2 uppercase text-lg;
  }
}

/*======================================== pokeball ======================================== */
.pokeball {
  @apply shadow-2xl h-[50px] w-[50px] rounded-full flex flex-col relative border-2 border-black;
}

.pokeball__top {
  @apply bg-[var(--red)] w-full h-1/2 rounded-t-full;
}

.pokeball__bottom {
  @apply bg-white w-full h-1/2 rounded-b-full shadow-inner;
}

.pokeball__line {
  @apply absolute w-full border-2 border-black;
}

.pokeball__btn {
  @apply h-5 w-5 rounded-full shadow-inner border-4 border-black bg-white;
}

/*======================================== scoreboard ======================================== */
.scoreboard {
  @apply flex max-[450px]:px-4  max-[450px]:flex-col gap-x-10 justify-center items-center mt-[50px] 
  shadow-md bg-white w-max mx-auto border-2 border-gray-200 rounded-lg;
}

.scoreboard__item {
  @apply capitalize p-4 text-gray-500;
}

.scoreboard__item--state {
  @apply font-bold text-slate-700 ml-2;
}

/*======================================== card grid ======================================== */
.card-grid {
  @apply flex flex-wrap px-8 max-[400px]:px-4 gap-x-4 gap-y-8 mx-auto items-center justify-center 
  pt-[36px] pb-[36px] max-w-[1100px];
}

/*======================================== comment ======================================== */
/* implementation of the card flipping when shuffling */
.card {
  perspective: 1000px;
  @apply bg-transparent h-[150px] w-[150px] sm:h-[175px] sm:w-[175px] max-[370px]:w-[125px] max-[370px]:h-[125px];
}

.card__inner {
  transform-style: preserve-3d;
  @apply relative w-full h-full cursor-pointer transition-transform duration-300 rounded-lg;
}

.card__inner--flip {
  transform: rotateY(180deg);
}

.card__front__name {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.9);
  @apply font-medium capitalize font-["Poppins"] text-lg max-[370px]:hidden;
}

.card__front__image {
  @apply bg-transparent;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  @apply absolute h-full w-full flex flex-col grow justify-center items-center h-full w-full
  p-4 max-[370px]:p-2 rounded-lg border-[5px];
}

.card__back {
  transform: rotateY(180deg);
  @apply bg-[var(--blue)] text-white border-blue-900;
}

/*======================================== card "types" variations ======================================== */
.card__front--normal {
  @apply bg-gradient-to-r from-[#A8A878] to-[#D8D8D0] text-[#f5f5ef] border-[#e3e3d3];
}

.card__front--grass {
  @apply bg-gradient-to-r from-[#78C850] to-[#C0F860] text-[#eefee7] border-[#cdfbb6];
}

.card__front--water {
  @apply bg-gradient-to-r from-[#6890F0] to-[#98D8D8] text-[#e6edfe] border-[#cfdcfc];
}

.card__front--fire {
  @apply bg-gradient-to-r from-[#F08030] to-[#F8D030] text-[#fff0eb] border-[#f9d3b8];
}

.card__front--bug {
  @apply bg-gradient-to-r from-[#A8B820] to-[#D8E030] text-[#fafdd8] border-[#f5fbc1];
}

.card__front--electric {
  @apply bg-gradient-to-r from-[#F8D030] to-[#F8F878] text-[#fef7dd] border-[#fceeb5];
}

.card__front--ice {
  @apply bg-gradient-to-r from-[#98D8D8] to-[#D0F8E8] text-[#f0ffff] border-[#cffcfc];
}

.card__front--fighting {
  @apply bg-gradient-to-r from-[#C03028] to-[#F08030] text-[#ffeceb] border-[#fac0bd];
}

.card__front--poison {
  @apply bg-gradient-to-r from-[#A040A0] to-[#D880B8] text-[#fee1fe] border-[#fccffc];
}

.card__front--ground {
  @apply bg-gradient-to-r from-[#E0C068] to-[#F8F878] text-[#fff9eb] border-[#faeabd];
}

.card__front--flying {
  @apply bg-gradient-to-r from-[#A890F0] to-[#C8C0F8] text-[#f7f5ff] border-[#ece6fe];
}

.card__front--psychic {
  @apply bg-gradient-to-r from-[#F85888] to-[#F8C0B0] text-[#fee7ee] border-[#fcb6cb];
}

.card__front--rock {
  @apply bg-gradient-to-r from-[#B8A038] to-[#E0C068] text-[#fefae6] border-[#f9efc2];
}

.card__front--ghost {
  @apply bg-gradient-to-r from-[#705898] to-[#A890F0] text-[#f6f0ff] border-[#e0cffc];
}

.card__front--dark {
  @apply bg-gradient-to-r from-[#705848] to-[#A8A878] text-[#f1ece9] border-[#d7cac1];
}

.card__front--dragon {
  @apply bg-gradient-to-r from-[#7038F8] to-[#B8A0F8] text-[#eee6fe] border-[#cbb5fc];
}

.card__front--steel {
  @apply bg-gradient-to-r from-[#B8B8D0] to-[#D8D8C0] text-[#f0f0f5] border-[#e0e0eb];
}

.card__front--fairy {
  @apply bg-gradient-to-r from-[#F0B6BC] to-[#F5CAD1] text-[#fcf2f3] border-[#f6d5d8];
}

/*======================================== comment ======================================== */
.modal-wrapper {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  @apply fixed m-auto top-0 left-0 right-0 bottom-0 z-10 grid place-items-center h-full w-full;
}

/*======================================== comment ======================================== */
.winning-modal,
.losing-modal {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  @apply flex flex-col items-center justify-center bg-white shadow-2xl h-[500px] w-[300px] rounded-lg border-t-[16px] 
  border-red-500 gap-y-[20px] relative pb-[20px];
}

.winning-modal__trophy,
.losing-modal-loser {
  @apply text-[150px] relative grid place-items-center;
}

.winning-modal__trophy i {
  @apply text-[var(--gold)];
  -webkit-text-fill-color: var(--gold);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.winning-modal__trophy--number {
  @apply text-2xl text-black font-bold absolute top-5 px-2 bg-white rounded-full;
}

.losing-modal__text--number {
  @apply text-black font-bold ml-2;
}

.winning-modal__title,
.winning-modal__text,
.losing-modal__text,
.losing-modal__title {
  @apply text-[var(--blue)];
}

.winning-modal__title,
.losing-modal__title {
  @apply font-extrabold text-2xl font-[Poppins];
}

.winning-modal__text {
  @apply font-bold text-xl font-[Poppins];
}

.losing-modal__text {
  @apply font-medium text-lg font-[Poppins] text-center;
}

.losing-modal__text:last-of-type {
  @apply mt-2;
}

.winning-modal__btn,
.losing-modal__btn {
  @apply absolute bottom-0 right-0 my-4 mx-4 py-2 px-2 text-[var(--darkRed)] rounded-md hover:bg-red-100 
  hover:shadow-xl active:shadow-none font-medium;
}
